{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "bracketSpacing": false
      }
    }
  ]
}